.best-seel-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;

  width: 80%;
  max-width: 1250px;
  margin: 0 auto;
}
.bestseals-tltle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  color: var(--base-text);
  margin: 10px 0 0 0;
}
.bestseals-tltle::before,
.bestseals-tltle::after {
  content: "";
  width: 500px;
  height: 2px;
  background-color: #420004;
}
@media (max-width : 900px) {
  .best-seel-product{
    display: flex;
    gap: 16px;

    overflow-x: auto;
    padding: 0 20px 15px;

    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .best-seel-product::-webkit-scrollbar{
    display: none;
  }
  .bestseals-tltle{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .bestseals-tltle::after, 
  .bestseals-tltle::before{
    content: "";
    height: 2px;
    flex: 1;
  } 
}