.best-seal-product {
  width: 1250px;
  margin: 0 auto; 
}

.best-seal-product .swiper {
  width: 100%;
  position: relative;
}

.best-seal-product .swiper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  z-index: 10;
  pointer-events: none;

  border-radius: 15px;

    background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.45),
    transparent
  );
}

.best-seal-product .swiper-slide {
  display: flex;
  justify-content: center;
}
.best-seal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1250px;
  margin: 50px auto;
}
.right-text {
  text-align: right;
}
.right-text span {
  display: flex;
  align-items: center;
  gap: 12px;
  direction: rtl;

  color: var(--accent);

  font-weight: 500;
}
.right-text span::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--accent);
  flex-shrink: 0;
}
.right-text h2 {
  color: var(--text);
}
.whach-all a {
  text-decoration: none;
  color: var(--accent);
  font-size: 14px;
}
@media (max-width: 900px) {
  .whach-all a,
  .right-text span {
    display: none;
  }
  .right-text h2 {
    font-size: 20px;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 12px;
    direction: rtl;

    color: var(--text);
  }
  .right-text h2::before {
    content: "";
    height: 2px;
    width: 40px;

    background-color: var(--text);
  }
  .best-seal-title {
    max-width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px auto;
  }

  .best-seal-product {
    max-width: 90%;
    margin: 0 auto;
  }
  .best-seal-product .swiper {
    width: 100%;
  }
  .best-seal-product .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
