.offerProductCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;

  width: 80%;
  max-width: 1250px;
  margin: 0 auto;
}
.offertitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  color: var(--base-text);
  margin: 10px 0 0 0;
}

.offertitle::after,
.offertitle::before {
  content: "";
  width: 455px;
  height: 2px;
  background: #420004;
}

.offerPercentage {
  position: absolute;
  top: 15px;
  left: 15px;

  background-color: #c7d3c0;
  color: #420004;

  padding: 7px 12px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .offerProductCart {
    display: flex;
    gap: 16px;

    overflow-x: auto;
    padding: 0 20px 15px;

    scroll-snap-type: x mandatory;

    scrollbar-width: none;
  }
  .offerProductCart::-webkit-scrollbar {
    display: none;
  }
  .offertitle {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
  }
  .offertitle::before,
  .offertitle::after {
    content: "";
    height: 2px;
    flex: 1;
  }
}
