.header-container {
  max-width: 1300px;
  height: 560px;

  background-color: #eed9b9;
  color: #420004;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-img {
  flex: 1;
  max-width: 60%;
}

/* HEADER TEXT */
.header-content {
  width: 40%;
  flex: 0 0 40%;

  margin-right: 8%;

  color: #420004;

  text-align: center;
  letter-spacing: 5px;
}
.header-content h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.6;
}
.header-content p {
  font-size: 30px;
  font-weight: 700;
}
.header-button {
  background-color: #420004;
  color: #eed9b9;

  border: none;
  border-radius: 10px;

  padding: 13px 35px;

  font-weight: 500;
  font-size: 20px;

  cursor: pointer;

  transition: all 2;
}

.header-button:hover {
  background-color: #c7d3c0;
  color: #420004;
  transform: translateY(-2px);
}

/* 
==================================================
MOBILE HEADER
==================================================
*/
.mobile-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar-logo-mobile {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #5e0006;

  gap: 8px;
  padding: 10px;

  color: var(--base-text);

  min-width: 160px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.mobile-header-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1200 / 600;

  background: url(../../assets/picture/headerimage.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
