.header-container {
  /* max-width: 1250px; */
  height: 950px;
  margin: 0 auto;
  padding: 0 !important;

  background: url(../../assets/picture/header.png);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* HEADER TEXT */
.header-content {
  margin: 0 250px 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  direction: rtl;
}
.header-content span {
  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--primary);
  font-weight: 500;
}
.header-content span::before {
  content: "";
  width: 40px;
  height: 1px;

  background: var(--primary);
  flex-shrink: 0;
}
.header-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;

  color: var(--text);

  margin: 24px 0;
}
.header-content p {
  max-width: 450px;

  font-size: 18px;
  line-height: 180%;
  font-weight: 400;

  color: var(--primary);

  margin: 0 0 28px;
}
.header-button {
  max-width: fit-content;

  background: var(--primary);
  color: var(--background);

  border: none;
  border-radius: 4px;

  padding: 12px 28px;

  font-weight: 500;
  font-size: 20px;

  cursor: pointer;

  transition: all 2 ease;
}

.header-button:hover {
  background: var(--accent);
  color: var(--background);
}

/* 
==================================================
MOBILE HEADER
==================================================
*/
.mobile-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar-logo-mobile {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #5e0006;

  gap: 8px;
  padding: 10px;

  color: var(--base-text);

  min-width: 160px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.mobile-header img {
  aspect-ratio: 1 / 1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mobile-hwader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
  padding-top: 20px;
}
.mobile-header-span {
  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--primary);
}

.mobile-header-span::after {
  content: "";
  height: 1px;
  width: 70px;
  background: var(--primary);
  flex-shrink: 0;
}
.mobile-header-span::before {
  content: "";
  height: 1px;
  width: 70px;
  background: var(--primary);
  flex-shrink: 0;
}
.mobile-header-title {
  color: var(--primary);
}
.mobile-header-text {
  color: var(--primary);

  max-width: 350px;
  line-height: 1.5;
  text-align: justify;
  margin: 0 0 30px 0;
}